[2019-03-03 08:08] ammaratef45 opened #1 "configure deployment with rultor"
use rultor and Fastlane for CI/CD

[2019-03-03 08:14] ammaratef45 opened #2 "Get users' data"
In sign in, get the user's data and store them in the database to be used later

[2019-03-03 17:41] ammaratef45 commented on #2
@rultor deploy

[2019-03-03 17:42] rultor commented on #2
@ammaratef45 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/18116-469045803)

[2019-03-03 17:55] rultor commented on #2
@ammaratef45 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18116-469045803) (spent 13min)

[code]

[2019-03-04 23:33] #1 closed

[2019-03-04 23:34] #2 closed

[2019-03-04 23:35] ammaratef45 opened #5 "Auto sigin"
Add autologin and a log out in drawer in the main screen

[2019-03-04 23:38] ammaratef45 opened #6 "Add offline registering"
Add the ability to scan attendance while offline

[2019-03-04 23:54] #5 closed

[2019-03-05 00:00] ammaratef45 opened #7 "Add ads"
Use AdMob to provide ads for profit

[2019-03-05 12:16] #6 closed

[2019-03-05 12:54] #7 closed

[2019-03-06 06:13] ammaratef45 opened #8 "Add more data to the account"
The user should be able to add more data.
More than one name (mainly for language purpose).

[2019-03-20 07:42] ammaratef45 opened #9 "Move from firebase to API"
use [this api](https://github.com/ammaratef45/Attendance-API) instead of firebase, that would require migrating a lot of functionality, use puzzles to simplify the work and divide it.

[2019-03-23 01:35] Bahaaib opened #10 "App fails to login for no clear reason"
**Summary:**
Once the App finally is installed and loaded successfully on device. I try to sign in using "Sign in" Green Button. My Google accounts dialoge pops up to me to select an account. I did select all possible accounts in several different trials to log in be it all ended up to NO RESPOND. Neither FAILED nor home activity appeared. I tried to debug the source code to to figure out if it wa

[2019-03-23 02:01] Bahaaib opened #11 "Ambiguous Error message on scanning random barcodes"
**Summary:**
When i log in to my home activity and launch my camera to scan a random barcode. The resultant message depends on different cases. All the barcodes are wrong but the response is not the same. Below i mentioned 2 remarkable cases. Otherwise, The camera was trying to scan forever without any time barriers.

**Steps to reproduce:**
1- Install the App and open it normally
2- Log in via "O

[2019-03-23 07:07] ammaratef45 commented on #10
@Bahaaib sorry, I didn't mention that in the README file, you have to provide me with the development fingerprint sha-1 and I will allow you to build 👍

[2019-03-23 07:11] ammaratef45 commented on #10
@Bahaaib I've added [this section](https://github.com/ammaratef45/Attendance/blob/master/README.md#ho-to-contribute) to the README, check it out.

[2019-03-23 07:14] ammaratef45 commented on #11
@Bahaaib This isn't a bug, those codes aren't generated by our [Admin](https://github.com/ammaratef45/Attendance-Admin) App, maybe the error code isn't clear enough.
We should show the user the format of the scanned code and what format we are expecting.
Thanks for reporting this, want to work on it? I can assign it to you

[2019-03-23 18:16] Bahaaib commented on #10
neat !

[2019-03-23 18:18] Bahaaib commented on #11
Oh. That's my mistake to give it that title. It's not a bug for sure but the content has no use at all. I'll happily take it

[2019-03-23 18:18] #10 closed

[2019-03-24 05:58] ammaratef45 commented on #11
@Bahaaib Okay
I've added your sha-1 so that you can log in.
I suggest you add a module like [that](https://github.com/ammaratef45/zold-flutter-client/blob/master/zold_wallet/lib/dialogs.dart), if you intend to leave any work incomplete (I suggest you to do that if the PR is going large) just add a puzzle like this
[code]
Thanks for the contribution :+1:

[2019-03-24 06:25] ammaratef45 opened #12 "Configure Devops"
Add rultor, pdd and circleci

[2019-03-24 06:25] 0crat commented on #12
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) I'm not managing this repo, remove the [webhook](https://github.com/ammaratef45/Attendance/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `ammaratef45/attendance` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2019-03-24 06:25] 0crat commented on #12
I'm not managing `ammaratef45/attendance` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2019-03-24 06:28] 0crat commented on #12
The job [#12](https://github.com/ammaratef45/attendance/issues/12) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CH951175M/9585d6dd-a6da-4e2a-82fc-013f4c6bf3da); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-03-24 06:30] 0crat commented on #12
Job `gh:ammaratef45/attendance#12` already assigned to @ammaratef45, can't assign to @ammaratef45

[2019-03-24 06:34] 0crat commented on #12
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-24 06:34] 0crat commented on #12
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-24 06:35] 0crat commented on #12
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-24 17:34] #12 closed

[2019-03-24 17:51] 0crat commented on #12
Job was finished in 11 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-24 17:55] 0crat commented on #12
The job [#12](https://github.com/ammaratef45/attendance/issues/12) is now out of scope

[2019-03-24 17:57] 0crat commented on #12
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-25 09:07] 0pdd opened #13 "learn how to use test and write unit tests"
The puzzle `1-32499cde` from #1 has to be resolved:

https://github.com/ammaratef45/Attendance/blob/f32c2774879475c374b58a7557860f567af12048/attendance/test/widget_test.dart#L15-L15

The puzzle was created by @ammaratef45 on 25-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _r

[2019-03-25 09:07] 0pdd commented on #1
@ammaratef45 the puzzle [#13](https://github.com/ammaratef45/Attendance/issues/13) is still not solved.

[2019-03-25 09:07] 0crat commented on #13
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-03-25 09:14] 0crat commented on #13
Job [#13](https://github.com/ammaratef45/attendance/issues/13) is now in scope, role is `DEV`

[2019-03-25 09:22] 0crat commented on #13
The job [#13](https://github.com/ammaratef45/attendance/issues/13) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CH951175M/20e6b276-62f7-4f7c-8bbe-ea500748d93b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-03-25 09:36] 0pdd commented on #13
The puzzle `1-32499cde` has disappeared from the source code, that's why I closed this issue.

[2019-03-25 09:36] #13 closed

[2019-03-25 09:36] 0pdd commented on #1
@ammaratef45 the only puzzle [#13](https://github.com/ammaratef45/Attendance/issues/13) is solved here.

[2019-03-25 10:18] 0crat commented on #13
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-25 10:20] 0crat commented on #13
The job [#13](https://github.com/ammaratef45/attendance/issues/13) is now out of scope

[2019-03-25 10:20] 0crat commented on #13
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-26 10:17] ammaratef45 opened #14 "App crashes when opened"
Sometimes the app crashes once opened

[2019-03-26 10:19] 0crat commented on #8
Job [#8](https://github.com/ammaratef45/attendance/issues/8) is now in scope, role is `DEV`

[2019-03-26 10:20] 0crat commented on #9
Job [#9](https://github.com/ammaratef45/attendance/issues/9) is now in scope, role is `DEV`

[2019-03-26 10:22] 0crat commented on #14
Job [#14](https://github.com/ammaratef45/attendance/issues/14) is now in scope, role is `DEV`

[2019-03-26 10:27] 0crat commented on #8
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-26 10:27] 0crat commented on #9
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-26 10:27] 0crat commented on #14
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-26 10:27] 0crat commented on #14
The job [#14](https://github.com/ammaratef45/attendance/issues/14) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CH951175M/efa49d53-b6f8-4721-bd0e-3a7717913999); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-03-26 10:28] 0crat commented on #14
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-26 10:28] 0crat commented on #14
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-26 10:44] 0crat commented on #9
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#9](https://github.com/ammaratef45/attendance/issues/9); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the s

[2019-03-26 10:44] 0crat commented on #8
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#8](https://github.com/ammaratef45/attendance/issues/8); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the s

[2019-03-27 01:12] ammaratef45 opened #17 "Fails to build on iOS"
When running on iOS emulator It fails with the following log

[code]

[2019-03-27 01:25] ammaratef45 commented on #11
@Bahaaib Now you can close the issue (I guess)

[2019-03-27 01:59] ammaratef45 commented on #14
The crash is

According to [this answer](https://stackoverflow.com/a/52732554) , this problem is supposed to disappear after moving to the API as in #9

[2019-03-27 01:59] #14 closed

[2019-03-27 02:06] 0crat commented on #17
Job [#17](https://github.com/ammaratef45/attendance/issues/17) is now in scope, role is `DEV`

[2019-03-27 02:14] 0crat commented on #17
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-27 02:16] 0crat commented on #14
Job was finished in 15 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-27 02:20] 0crat commented on #14
The job [#14](https://github.com/ammaratef45/attendance/issues/14) is now out of scope

[2019-03-27 02:23] 0crat commented on #14
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-27 02:39] 0crat commented on #17
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#17](https://github.com/ammaratef45/attendance/issues/17); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the

[2019-03-27 10:48] #11 closed

[2019-03-27 11:08] 0crat commented on #11
Job `gh:ammaratef45/attendance#11` is not assigned, can't get performer

[2019-03-27 11:09] 0crat commented on #11
This job is not in scope

[2019-03-31 10:08] Bahaaib opened #18 "Login page doesn't follow Google material design Guidelines"
**Summary:**
Login page looks too simple than it should be as a potential grown App. The page doesn't follow any UI/UX roles. It's just hit and run. So i tried to add some sort of life to it.

**Screenshots:*
To be added..

[2019-03-31 10:08] 0crat commented on #18
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-03-31 10:08] 0crat commented on #18
@bahaaib[/z](https://www.0crat.com/u/bahaaib) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CH951175M) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-31 10:32] ammaratef45 opened #20 "Add codemagic"
Add code magic to have artefacts available for latest commits to master, add its badge to readme too.

[2019-03-31 10:43] 0crat commented on #18
Thanks for your contribution, @bahaaib[/z](https://www.0crat.com/u/bahaaib)! If you would be a member of [the project](https://www.0crat.com/p/CH951175M), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2019-03-31 10:43] 0crat commented on #18
The job [#18](https://github.com/ammaratef45/attendance/issues/18) assigned to @bahaaib[/z](https://www.0crat.com/u/bahaaib), here is [why](https://www.0crat.com/footprint/CH951175M/2a5ab23b-3b7f-473a-93ac-089d91196b6b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-03-31 10:46] 0crat commented on #20
Job [#20](https://github.com/ammaratef45/attendance/issues/20) is now in scope, role is `DEV`

[2019-03-31 10:49] 0crat commented on #18
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-31 10:50] 0crat commented on #18
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-31 11:07] 0crat commented on #20
The job [#20](https://github.com/ammaratef45/attendance/issues/20) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CH951175M/69fbee7a-827f-4d31-aeec-eadb71ad8239); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-03-31 11:07] 0crat commented on #20
Job `gh:ammaratef45/attendance#20` already assigned to @ammaratef45, can't assign to @ammaratef45

[2019-03-31 11:07] 0crat commented on #20
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#20](https://github.com/ammaratef45/attendance/issues/20); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the

[2019-03-31 11:08] 0crat commented on #20
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-31 11:08] 0crat commented on #20
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-31 11:09] 0crat commented on #20
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-31 11:14] ammaratef45 commented on #18
@Bahaaib Thaks :+1:

[2019-03-31 11:14] #18 closed

[2019-03-31 11:33] 0crat commented on #18
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-31 11:37] 0crat commented on #18
The job [#18](https://github.com/ammaratef45/attendance/issues/18) is now out of scope

[2019-03-31 11:39] 0crat commented on #18
Order was finished: +35 point(s) just awarded to @bahaaib[/z](https://www.0crat.com/u/bahaaib)

[2019-03-31 11:42] 0crat commented on #9
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#9](https://github.com/ammaratef45/attendance/issues/9); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the s

[2019-03-31 11:42] 0crat commented on #8
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#8](https://github.com/ammaratef45/attendance/issues/8); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the s

[2019-03-31 12:54] #20 closed

[2019-03-31 13:12] 0crat commented on #20
Job was finished in 2 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-31 13:16] 0crat commented on #20
The job [#20](https://github.com/ammaratef45/attendance/issues/20) is now out of scope

[2019-03-31 13:18] 0crat commented on #20
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-31 17:40] ammaratef45 opened #21 "Take name in more than one language"
Allow the user to save name in more than one language and let admin see all names in his exported sheet.

[2019-03-31 17:45] 0crat commented on #21
Job [#21](https://github.com/ammaratef45/attendance/issues/21) is now in scope, role is `DEV`

[2019-03-31 17:51] 0crat commented on #21
The job [#21](https://github.com/ammaratef45/attendance/issues/21) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CH951175M/ef9681cc-634d-40dd-859f-9115010662c1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-03-31 17:52] 0crat commented on #21
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-01 03:48] 0crat commented on #17
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#17](https://github.com/ammaratef45/attendance/issues/17); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the

[2019-04-01 07:29] ammaratef45 opened #22 "Use performance tools"
Flutter have some tools to ensure performance like in [this](https://github.com/flutter/devtools) repo

We should integrate some of them to have a suitable track of performance

Then document this in the how to contribute section, encourage contributors to care about this too

[2019-04-01 07:29] 0crat commented on #22
Job [#22](https://github.com/ammaratef45/attendance/issues/22) is now in scope, role is `DEV`

[2019-04-01 07:31] ammaratef45 commented on #22
@Bahaaib you may want to have a look on this, these tools are late already :laughing:

[2019-04-01 07:36] 0crat commented on #22
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-01 07:49] 0crat commented on #22
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#22](https://github.com/ammaratef45/attendance/issues/22); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the

[2019-04-01 22:40] 0crat commented on #21
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) I see that you unassigned this issue; the order is still assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2019-04-01 22:42] ammaratef45 commented on #21
@0crat assign @Bahaaib

[2019-04-01 22:46] 0crat commented on #21
The job [#21](https://github.com/ammaratef45/attendance/issues/21) assigned to @bahaaib[/z](https://www.0crat.com/u/bahaaib), here is [why](https://www.0crat.com/footprint/CH951175M/88622635-ebc7-4830-82cf-71c1c336cf00); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-04-01 22:47] 0crat commented on #21
@ammaratef45 Job [#21](https://github.com/ammaratef45/attendance/issues/21) is already assigned to @bahaaib[/z](https://www.0crat.com/u/bahaaib)

[2019-04-01 22:48] 0crat commented on #21
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-05 17:41] 0crat commented on #8
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#8](https://github.com/ammaratef45/attendance/issues/8); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the s

[2019-04-05 17:41] 0crat commented on #9
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#9](https://github.com/ammaratef45/attendance/issues/9); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the s

[2019-04-06 04:39] 0crat commented on #17
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#17](https://github.com/ammaratef45/attendance/issues/17); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the

[2019-04-06 08:39] 0crat commented on #22
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#22](https://github.com/ammaratef45/attendance/issues/22); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the

[2019-04-06 12:01] 0crat commented on #17
The job [#17](https://github.com/ammaratef45/attendance/issues/17) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CH951175M/67863c94-fe71-4994-8eab-45d52ef74997); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-04-06 12:02] 0crat commented on #17
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-06 12:02] 0crat commented on #17
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-06 13:49] ammaratef45 commented on #17
[This solution] solved the error above.

[2019-04-06 16:41] 0pdd opened #24 "Update.."
The puzzle `21-20ae1e1a` from #21 has to be resolved:

https://github.com/ammaratef45/Attendance/blob/9f6a8fd62dbe74ab63635d65df334098944ad00c/attendance/lib/ProfilePage/profile_page_view.dart#L167-L167

The puzzle was created by @ammaratef45 on 06-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the tex

[2019-04-06 16:41] 0pdd opened #25 "Send data entered in dialog (native name/phone number)to API"
The puzzle `21-7735e21e` from #21 has to be resolved:

https://github.com/ammaratef45/Attendance/blob/9f6a8fd62dbe74ab63635d65df334098944ad00c/attendance/lib/ProfilePage/profile_page_view.dart#L193-L193

The puzzle was created by @Bahaaib on 06-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of

[2019-04-06 16:41] 0pdd commented on #21
@ammaratef45 2 puzzles [#24](https://github.com/ammaratef45/Attendance/issues/24), [#25](https://github.com/ammaratef45/Attendance/issues/25) are still not solved.

[2019-04-06 16:41] 0crat commented on #25
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-06 16:42] 0crat commented on #24
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-06 16:47] 0crat commented on #25
Job [#25](https://github.com/ammaratef45/attendance/issues/25) is now in scope, role is `DEV`

[2019-04-06 16:49] 0crat commented on #24
Job [#24](https://github.com/ammaratef45/attendance/issues/24) is now in scope, role is `DEV`

[2019-04-06 17:01] 0crat commented on #25
The job [#25](https://github.com/ammaratef45/attendance/issues/25) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CH951175M/db220bd9-9a8f-4b40-99f1-050d7e76bf93); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-04-06 17:06] 0crat commented on #24
The job [#24](https://github.com/ammaratef45/attendance/issues/24) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CH951175M/dbe5f5d1-a51f-4a9c-9fea-4b30fca37ab9); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-04-06 17:27] #21 closed

[2019-04-06 17:46] 0crat commented on #21
Job [#21](https://github.com/ammaratef45/attendance/issues/21) is not in the agenda of @bahaaib[/z](https://www.0crat.com/u/bahaaib), can't retrieve data and time of add

[2019-04-06 17:46] 0crat commented on #21
@bahaaib[/z](https://www.0crat.com/u/bahaaib) the issue is closed not by @ammaratef45[/z](https://www.0crat.com/u/ammaratef45) (its creator); I won't close the order; please, re-open it and ask @ammaratef45[/z](https://www.0crat.com/u/ammaratef45) to close it

[2019-04-06 23:40] 0crat commented on #21
@bahaaib[/z](https://www.0crat.com/u/bahaaib) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-04-07 10:26] ammaratef45 commented on #21
@0crat out

[2019-04-07 10:26] ammaratef45 commented on #21
@Bahaaib Thanks :+1:

[2019-04-07 10:26] 0crat commented on #21
@ammaratef45 Job [#21](https://github.com/ammaratef45/attendance/issues/21) is not in the agenda of @bahaaib[/z](https://www.0crat.com/u/bahaaib), can't retrieve data and time of add

[2019-04-07 10:31] 0crat commented on #21
@ammaratef45 The job [#21](https://github.com/ammaratef45/attendance/issues/21) is now out of scope

[2019-04-07 10:33] 0crat commented on #21
Order was finished: +30 point(s) just awarded to @bahaaib[/z](https://www.0crat.com/u/bahaaib)

[2019-04-08 04:16] 0pdd commented on #24
The puzzle `21-20ae1e1a` has disappeared from the source code, that's why I closed this issue.

[2019-04-08 04:16] #24 closed

[2019-04-08 04:16] 0pdd commented on #25
The puzzle `21-7735e21e` has disappeared from the source code, that's why I closed this issue.

[2019-04-08 04:16] #25 closed

[2019-04-08 04:16] 0pdd opened #26 "save the model to the API and save locally if failed to connect to the API"
The puzzle `25-e6ecf1e1` from #25 has to be resolved:

https://github.com/ammaratef45/Attendance/blob/b811652615720f37c8e4c9bc53a4e05a540580a2/attendance/lib/BackEnd/user.dart#L32-L32

The puzzle was created by Ammar Atef on 08-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _r

[2019-04-08 04:16] 0pdd commented on #21
@ammaratef45 the puzzle [#26](https://github.com/ammaratef45/Attendance/issues/26) is still not solved; solved: [#24](https://github.com/ammaratef45/Attendance/issues/24), [#25](https://github.com/ammaratef45/Attendance/issues/25).

[2019-04-08 04:16] 0pdd commented on #25
@0pdd the puzzle [#26](https://github.com/ammaratef45/Attendance/issues/26) is still not solved.

[2019-04-08 04:17] 0crat commented on #26
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-08 04:34] 0crat commented on #25
Job was finished in 35 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-04-08 04:34] 0crat commented on #24
Job was finished in 35 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-04-08 04:40] 0crat commented on #25
The job [#25](https://github.com/ammaratef45/attendance/issues/25) is now out of scope

[2019-04-08 04:40] 0crat commented on #24
The job [#24](https://github.com/ammaratef45/attendance/issues/24) is now out of scope

[2019-04-08 04:40] 0crat commented on #24
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-08 04:40] 0crat commented on #25
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-08 05:58] 0crat commented on #26
Job [#26](https://github.com/ammaratef45/attendance/issues/26) is now in scope, role is `DEV`

[2019-04-08 05:59] 0crat commented on #26
The job [#26](https://github.com/ammaratef45/attendance/issues/26) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CH951175M/b80cb003-fb84-457a-8f6b-eb393892d32f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-04-08 13:41] ammaratef45 opened #27 "Write unit tests to test the user class"
In `backend/user.dart` a class called user that holds the data of the user
We need some unit tests to test its instantiation, member functions, getters and setters.

[2019-04-08 13:45] ammaratef45 opened #28 "Add lint checker"
[see this](https://medium.com/flutter-community/watch-your-code-dart-flutter-lint-55a697d01c8d) and add lint checking to the repository.

[2019-04-08 13:45] 0crat commented on #27
The job [#27](https://github.com/ammaratef45/attendance/issues/27) assigned to @bahaaib[/z](https://www.0crat.com/u/bahaaib), here is [why](https://www.0crat.com/footprint/CH951175M/02a7b135-5d0f-4b8a-8278-b6da8721088c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-04-08 13:52] 0crat commented on #28
Job `gh:ammaratef45/attendance#28` already assigned to @ammaratef45, can't assign to @ammaratef45

[2019-04-08 13:52] 0crat commented on #28
The job [#28](https://github.com/ammaratef45/attendance/issues/28) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CH951175M/3bf0d388-13ac-4621-8c7c-be71d2369420); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-04-08 13:52] 0crat commented on #27
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-08 13:53] 0crat commented on #28
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-08 13:53] 0crat commented on #27
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-08 13:53] 0crat commented on #28
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-08 13:53] 0crat commented on #28
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-10 17:01] 0pdd opened #30 "activate commented tests after implementing validation methods"
The puzzle `31-1d05e01b` from #31 has to be resolved:

https://github.com/ammaratef45/Attendance/blob/a2a27b7296839ea0c67d070aadb37ab7c611f300/attendance/test/userdata_test.dart#L12-L12

The puzzle was created by @Bahaaib on 10-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _r

[2019-04-10 17:01] 0pdd opened #31 "validate native name and phone number format"
The puzzle `29-6a4b732b` from #29 has to be resolved:

https://github.com/ammaratef45/Attendance/blob/a2a27b7296839ea0c67d070aadb37ab7c611f300/attendance/lib/BackEnd/user.dart#L35-L35

The puzzle was created by @Bahaaib on 10-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _rem

[2019-04-10 17:01] 0pdd opened #32 "check Singleton potential leak"
The puzzle `30-102e74fa` from #30 has to be resolved:

https://github.com/ammaratef45/Attendance/blob/a2a27b7296839ea0c67d070aadb37ab7c611f300/attendance/lib/BackEnd/user.dart#L36-L36

The puzzle was created by @Bahaaib on 10-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _rem

[2019-04-10 17:01] 0pdd commented on #31
@0pdd the puzzle [#30](https://github.com/ammaratef45/Attendance/issues/30) is still not solved.

[2019-04-10 17:01] 0pdd commented on #30
@0pdd the puzzle [#32](https://github.com/ammaratef45/Attendance/issues/32) is still not solved.

[2019-04-10 17:02] 0crat commented on #32
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-10 17:02] 0crat commented on #31
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-10 17:03] 0crat commented on #30
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-10 17:10] 0crat commented on #32
Job [#32](https://github.com/ammaratef45/attendance/issues/32) is now in scope, role is `DEV`

[2019-04-10 17:12] 0crat commented on #31
Job [#31](https://github.com/ammaratef45/attendance/issues/31) is now in scope, role is `DEV`

[2019-04-10 17:12] 0crat commented on #30
Job [#30](https://github.com/ammaratef45/attendance/issues/30) is now in scope, role is `DEV`

[2019-04-10 17:14] 0crat commented on #8
The job [#8](https://github.com/ammaratef45/attendance/issues/8) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CH951175M/7b8eb688-275d-41d4-a18e-d1c803238d13); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-04-10 17:18] 0crat commented on #8
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-10 17:18] 0crat commented on #8
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-10 18:39] 0crat commented on #9
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#9](https://github.com/ammaratef45/attendance/issues/9); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the s

[2019-04-11 06:24] #8 closed

[2019-04-11 07:05] 0crat commented on #8
Job was finished in 13 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-04-11 07:06] 0crat commented on #8
The job [#8](https://github.com/ammaratef45/attendance/issues/8) is now out of scope

[2019-04-11 07:07] 0crat commented on #8
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-11 07:07] 0crat commented on #32
The job [#32](https://github.com/ammaratef45/attendance/issues/32) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CH951175M/780a318f-9a64-4e44-9085-60b31f8cb7a1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-04-11 09:09] 0crat commented on #22
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#22](https://github.com/ammaratef45/attendance/issues/22); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the

[2019-04-11 10:24] 0pdd commented on #31
@0pdd 2 puzzles [#30](https://github.com/ammaratef45/Attendance/issues/30), [#32](https://github.com/ammaratef45/Attendance/issues/32) are still not solved.

[2019-04-11 12:19] 0crat commented on #27
@bahaaib[/z](https://www.0crat.com/u/bahaaib) the issue is closed not by @ammaratef45[/z](https://www.0crat.com/u/ammaratef45) (its creator); I won't close the order; please, re-open it and ask @ammaratef45[/z](https://www.0crat.com/u/ammaratef45) to close it

[2019-04-11 12:44] 0crat commented on #17
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-04-11 13:07] 0crat commented on #22
You @bahaaib[/z](https://www.0crat.com/u/bahaaib) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2019-04-11 13:36] #27 closed

[2019-04-11 13:43] ammaratef45 commented on #17
@0crat wait fir #9

[2019-04-11 13:43] ammaratef45 commented on #22
@0crat assign @Bahaaib

[2019-04-11 13:51] 0crat commented on #17
@ammaratef45 The impediment for [#17](https://github.com/ammaratef45/attendance/issues/17) was registered successfully by @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-11 13:58] 0crat commented on #22
@ammaratef45 The job [#22](https://github.com/ammaratef45/attendance/issues/22) assigned to @bahaaib[/z](https://www.0crat.com/u/bahaaib), here is [why](https://www.0crat.com/footprint/CH951175M/9f55562c-e0df-4314-b279-01c7ece20462); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-04-11 13:59] 0crat commented on #22
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-11 14:07] 0crat commented on #27
Order was finished: +30 point(s) just awarded to @bahaaib[/z](https://www.0crat.com/u/bahaaib)

[2019-04-11 14:08] 0crat commented on #27
The job [#27](https://github.com/ammaratef45/attendance/issues/27) is now out of scope

[2019-04-11 14:08] ammaratef45 commented on #22
@Bahhaib thanks

[2019-04-11 14:08] #22 closed

[2019-04-11 14:26] 0crat commented on #22
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-04-11 14:34] 0crat commented on #22
The job [#22](https://github.com/ammaratef45/attendance/issues/22) is now out of scope

[2019-04-11 14:38] 0crat commented on #22
Order was finished: +35 point(s) just awarded to @bahaaib[/z](https://www.0crat.com/u/bahaaib)

[2019-04-12 09:21] 0crat commented on #31
You @bahaaib[/z](https://www.0crat.com/u/bahaaib) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2019-04-12 19:34] 0pdd commented on #31
The puzzle `29-6a4b732b` has disappeared from the source code, that's why I closed this issue.

[2019-04-12 19:34] #31 closed

[2019-04-12 19:51] 0crat commented on #31
Job `gh:ammaratef45/attendance#31` is not assigned, can't get performer

[2019-04-12 19:52] 0crat commented on #31
The job [#31](https://github.com/ammaratef45/attendance/issues/31) is now out of scope

[2019-04-12 21:30] 0pdd opened #36 "uncomment rules and fix related problems"
The puzzle `28-7c1deb1b` from #28 has to be resolved:

https://github.com/ammaratef45/Attendance/blob/e3f25225ec5f9253f369cd4c9231caa61da43663/attendance/analysis_options.yaml#L36-L36

The puzzle was created by Ammar Atef on 12-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _r

[2019-04-12 21:30] 0pdd commented on #28
@ammaratef45 the puzzle [#36](https://github.com/ammaratef45/Attendance/issues/36) is still not solved.

[2019-04-12 21:31] 0crat commented on #36
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-12 21:43] #28 closed

[2019-04-12 22:05] 0crat commented on #28
The job [#28](https://github.com/ammaratef45/attendance/issues/28) is now out of scope

[2019-04-12 22:07] 0crat commented on #28
Order was finished: +30 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-13 00:11] ammaratef45 commented on #32
@Bahaaib what is meant by the leak? It's meant to keep its value all the time it is in memory, right?

[2019-04-13 00:57] 0pdd commented on #26
The puzzle `25-e6ecf1e1` has disappeared from the source code, that's why I closed this issue.

[2019-04-13 00:57] #26 closed

[2019-04-13 00:58] 0pdd opened #37 "trim the inputs before validation for rename and changePhone"
The puzzle `26-5befb100` from #26 has to be resolved:

https://github.com/ammaratef45/Attendance/blob/eca2402ae6ed995f3e2a51ecbbc94e2b448d44e6/attendance/lib/BackEnd/user.dart#L23-L23

The puzzle was created by Ammar Atef on 13-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _r

[2019-04-13 00:58] 0pdd opened #38 "Implement persist so that it saves the user to local db with a flag called saved detects if it's..."
The puzzle `26-78ed0d95` from #26 has to be resolved:

https://github.com/ammaratef45/Attendance/blob/eca2402ae6ed995f3e2a51ecbbc94e2b448d44e6/attendance/lib/BackEnd/user.dart#L79-L80

The puzzle was created by Ammar Atef on 13-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _r

[2019-04-13 00:58] 0pdd opened #39 "Implement markSaved so that it changes the falg saved to true."
The puzzle `26-1a7fd9bd` from #26 has to be resolved:

https://github.com/ammaratef45/Attendance/blob/eca2402ae6ed995f3e2a51ecbbc94e2b448d44e6/attendance/lib/BackEnd/user.dart#L81-L81

The puzzle was created by Ammar Atef on 13-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _r

[2019-04-13 00:58] 0pdd opened #40 "add country field."
The puzzle `26-39e9513c` from #26 has to be resolved:

https://github.com/ammaratef45/Attendance/blob/eca2402ae6ed995f3e2a51ecbbc94e2b448d44e6/attendance/lib/ProfilePage/profile_page_viewmodel.dart#L6-L6

The puzzle was created by Ammar Atef on 13-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text

[2019-04-13 00:58] 0pdd opened #41 "show error below the entry field if failed to set the value to the user object."
The puzzle `26-eb936c7c` from #26 has to be resolved:

https://github.com/ammaratef45/Attendance/blob/eca2402ae6ed995f3e2a51ecbbc94e2b448d44e6/attendance/lib/ProfilePage/profile_page_viewmodel.dart#L7-L8

The puzzle was created by Ammar Atef on 13-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text

[2019-04-13 00:58] 0pdd commented on #21
@ammaratef45 5 puzzles [#37](https://github.com/ammaratef45/Attendance/issues/37), [#38](https://github.com/ammaratef45/Attendance/issues/38), [#39](https://github.com/ammaratef45/Attendance/issues/39), [#40](https://github.com/ammaratef45/Attendance/issues/40), [#41](https://github.com/ammaratef45/Attendance/issues/41) are still not solved; solved: [#24](https://github.com/ammaratef45/Attendance/

[2019-04-13 00:58] 0pdd commented on #25
@0pdd 5 puzzles [#37](https://github.com/ammaratef45/Attendance/issues/37), [#38](https://github.com/ammaratef45/Attendance/issues/38), [#39](https://github.com/ammaratef45/Attendance/issues/39), [#40](https://github.com/ammaratef45/Attendance/issues/40), [#41](https://github.com/ammaratef45/Attendance/issues/41) are still not solved; solved: [#26](https://github.com/ammaratef45/Attendance/issues/

[2019-04-13 00:58] 0pdd commented on #26
@0pdd 5 puzzles [#37](https://github.com/ammaratef45/Attendance/issues/37), [#38](https://github.com/ammaratef45/Attendance/issues/38), [#39](https://github.com/ammaratef45/Attendance/issues/39), [#40](https://github.com/ammaratef45/Attendance/issues/40), [#41](https://github.com/ammaratef45/Attendance/issues/41) are still not solved.

[2019-04-13 00:58] 0crat commented on #39
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-13 00:58] 0crat commented on #38
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-13 00:59] 0crat commented on #37
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-13 01:01] 0crat commented on #41
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-13 01:01] 0crat commented on #40
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-13 01:05] 0crat commented on #36
Job [#36](https://github.com/ammaratef45/attendance/issues/36) is now in scope, role is `DEV`

[2019-04-13 01:05] 0crat commented on #39
Job [#39](https://github.com/ammaratef45/attendance/issues/39) is now in scope, role is `DEV`

[2019-04-13 01:05] 0crat commented on #37
Job [#37](https://github.com/ammaratef45/attendance/issues/37) is now in scope, role is `DEV`

[2019-04-13 01:05] 0crat commented on #38
Job [#38](https://github.com/ammaratef45/attendance/issues/38) is now in scope, role is `DEV`

[2019-04-13 01:20] 0crat commented on #26
The job [#26](https://github.com/ammaratef45/attendance/issues/26) is now out of scope

[2019-04-13 01:23] 0crat commented on #26
Order was finished: +30 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-13 09:18] Bahaaib commented on #32
Singleton leakage is the capability of allocating multiple instances of it.

[2019-04-13 09:19] Bahaaib commented on #32
Sorry! I've just noticed you've been assigned to the issue. Should that be a problem?

[2019-04-13 09:26] 0crat commented on #32
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) I see that you unassigned this issue; the order is still assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2019-04-13 09:26] 0crat commented on #32
The job [#32](https://github.com/ammaratef45/attendance/issues/32) assigned to @bahaaib[/z](https://www.0crat.com/u/bahaaib), here is [why](https://www.0crat.com/footprint/CH951175M/0d86c38f-2ac4-48b7-ba72-ea170c7325da); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-04-13 09:27] 0crat commented on #32
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-13 09:27] ammaratef45 commented on #32
@Bahaaib It's okay, generally wait for being assigned then work on the issue (to avoid wasting time on the same issue)

[2019-04-13 09:32] ammaratef45 commented on #40
@Bahaaib want to take this?

[2019-04-13 09:32] ammaratef45 commented on #41
@Bahaaib want to take this?

[2019-04-13 09:51] 0crat commented on #41
The job [#41](https://github.com/ammaratef45/attendance/issues/41) assigned to @bahaaib[/z](https://www.0crat.com/u/bahaaib), here is [why](https://www.0crat.com/footprint/CH951175M/b6d1ba80-e8e9-4c15-a82b-3afc5d0d1759); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-04-13 09:51] 0crat commented on #40
The job [#40](https://github.com/ammaratef45/attendance/issues/40) assigned to @bahaaib[/z](https://www.0crat.com/u/bahaaib), here is [why](https://www.0crat.com/footprint/CH951175M/0fa25a6c-bc64-456a-9d9d-841c3e8fa6b1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-04-13 09:51] 0crat commented on #36
The job [#36](https://github.com/ammaratef45/attendance/issues/36) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CH951175M/884458bd-7cbb-48b8-93b6-668b60688ba4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-04-13 09:52] 0crat commented on #40
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-13 09:52] 0crat commented on #36
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-13 09:52] 0crat commented on #41
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-13 09:56] #30 closed

[2019-04-13 09:56] 0pdd commented on #30
The puzzle `31-1d05e01b` has disappeared from the source code, that's why I closed this issue.

[2019-04-13 09:56] #32 closed

[2019-04-13 09:56] 0pdd commented on #32
The puzzle `30-102e74fa` has disappeared from the source code, that's why I closed this issue.

[2019-04-13 09:56] 0pdd opened #43 "Use Map object to create a testing json body"
The puzzle `42-871903c1` from #42 has to be resolved:

https://github.com/ammaratef45/Attendance/blob/b6a094b60e9a355a469d4cb1430b538049f0288b/attendance/test/userdata_test.dart#L9-L9

The puzzle was created by @Bahaaib on 13-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _rem

[2019-04-13 09:56] 0pdd commented on #30
@0pdd the only puzzle [#32](https://github.com/ammaratef45/Attendance/issues/32) is solved here.

[2019-04-13 09:56] 0pdd commented on #31
@0pdd all 2 puzzles are solved here: [#30](https://github.com/ammaratef45/Attendance/issues/30), [#32](https://github.com/ammaratef45/Attendance/issues/32).

[2019-04-13 09:57] 0crat commented on #43
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-13 10:05] 0pdd commented on #36
The puzzle `28-7c1deb1b` has disappeared from the source code, that's why I closed this issue.

[2019-04-13 10:05] #36 closed

[2019-04-13 10:05] 0pdd opened #44 "uncomment rules and fix related problems"
The puzzle `36-7c1deb1b` from #36 has to be resolved:

https://github.com/ammaratef45/Attendance/blob/10bc8891314712455eb55a647175d712f19c61b5/attendance/analysis_options.yaml#L60-L60

The puzzle was created by Ammar Atef on 13-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _r

[2019-04-13 10:05] 0pdd commented on #28
@ammaratef45 the puzzle [#44](https://github.com/ammaratef45/Attendance/issues/44) is still not solved; solved: [#36](https://github.com/ammaratef45/Attendance/issues/36).

[2019-04-13 10:05] 0pdd commented on #36
@0pdd the puzzle [#44](https://github.com/ammaratef45/Attendance/issues/44) is still not solved.

[2019-04-13 10:06] 0crat commented on #44
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-13 10:08] Bahaaib commented on #40
@ammaratef45 Sure

[2019-04-13 10:09] Bahaaib commented on #41
@ammaratef45 Okay

[2019-04-13 10:19] 0crat commented on #30
Job `gh:ammaratef45/attendance#30` is not assigned, can't get performer

[2019-04-13 10:23] 0crat commented on #44
The job [#44](https://github.com/ammaratef45/attendance/issues/44) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CH951175M/32b664ea-ae48-4bf8-bf91-762a609ad300); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-04-13 10:23] 0crat commented on #32
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-04-13 10:23] 0crat commented on #30
The job [#30](https://github.com/ammaratef45/attendance/issues/30) is now out of scope

[2019-04-13 10:27] 0crat commented on #44
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-13 10:29] 0crat commented on #32
The job [#32](https://github.com/ammaratef45/attendance/issues/32) is now out of scope

[2019-04-13 10:29] 0crat commented on #36
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-04-13 10:31] 0crat commented on #32
Order was finished: +35 point(s) just awarded to @bahaaib[/z](https://www.0crat.com/u/bahaaib)

[2019-04-13 10:34] 0crat commented on #36
The job [#36](https://github.com/ammaratef45/attendance/issues/36) is now out of scope

[2019-04-13 10:34] 0crat commented on #36
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-14 09:27] #44 closed

[2019-04-14 09:27] 0pdd commented on #44
The puzzle `36-7c1deb1b` has disappeared from the source code, that's why I closed this issue.

[2019-04-14 09:27] 0pdd commented on #28
@ammaratef45 all 2 puzzles are solved here: [#36](https://github.com/ammaratef45/Attendance/issues/36), [#44](https://github.com/ammaratef45/Attendance/issues/44).

[2019-04-14 09:27] 0pdd commented on #36
@0pdd the only puzzle [#44](https://github.com/ammaratef45/Attendance/issues/44) is solved here.

[2019-04-14 09:34] 0pdd commented on #43
The puzzle `42-871903c1` has disappeared from the source code, that's why I closed this issue.

[2019-04-14 09:34] #43 closed

[2019-04-14 09:38] 0crat commented on #43
The job [#43](https://github.com/ammaratef45/attendance/issues/43) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CH951175M/a22a9b4d-1404-4070-97ae-5715570d8f48); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-04-14 09:50] 0crat commented on #43
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-14 09:52] 0crat commented on #37
The job [#37](https://github.com/ammaratef45/attendance/issues/37) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CH951175M/d01486cf-d5ac-4993-9a1e-9df90ab02af3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-04-14 09:53] 0crat commented on #44
Job was finished in 23 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-04-14 09:53] #37 closed

[2019-04-14 09:53] 0pdd commented on #37
The puzzle `26-5befb100` has disappeared from the source code, that's why I closed this issue.

[2019-04-14 09:53] 0pdd commented on #21
@ammaratef45 4 puzzles [#38](https://github.com/ammaratef45/Attendance/issues/38), [#39](https://github.com/ammaratef45/Attendance/issues/39), [#40](https://github.com/ammaratef45/Attendance/issues/40), [#41](https://github.com/ammaratef45/Attendance/issues/41) are still not solved; solved: [#24](https://github.com/ammaratef45/Attendance/issues/24), [#25](https://github.com/ammaratef45/Attendance/

[2019-04-14 09:53] 0pdd commented on #25
@0pdd 4 puzzles [#38](https://github.com/ammaratef45/Attendance/issues/38), [#39](https://github.com/ammaratef45/Attendance/issues/39), [#40](https://github.com/ammaratef45/Attendance/issues/40), [#41](https://github.com/ammaratef45/Attendance/issues/41) are still not solved; solved: [#26](https://github.com/ammaratef45/Attendance/issues/26), [#37](https://github.com/ammaratef45/Attendance/issues/

[2019-04-14 09:53] 0pdd commented on #26
@0pdd 4 puzzles [#38](https://github.com/ammaratef45/Attendance/issues/38), [#39](https://github.com/ammaratef45/Attendance/issues/39), [#40](https://github.com/ammaratef45/Attendance/issues/40), [#41](https://github.com/ammaratef45/Attendance/issues/41) are still not solved; solved: [#37](https://github.com/ammaratef45/Attendance/issues/37).

[2019-04-14 09:57] 0crat commented on #9
The job [#9](https://github.com/ammaratef45/attendance/issues/9) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CH951175M/c05d39db-f4fc-42e0-8738-02b051a4d13d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-04-14 10:00] 0crat commented on #38
The job [#38](https://github.com/ammaratef45/attendance/issues/38) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CH951175M/9eaef3ef-8ff6-41fb-913d-971838c55644); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-04-14 10:04] 0crat commented on #43
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-04-14 10:06] 0crat commented on #37
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-14 10:06] 0crat commented on #44
The job [#44](https://github.com/ammaratef45/attendance/issues/44) is now out of scope

[2019-04-14 10:08] 0crat commented on #44
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-14 10:10] 0crat commented on #9
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-14 10:10] 0crat commented on #9
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-14 10:11] 0crat commented on #39
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-14 10:11] 0crat commented on #38
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-14 10:11] 0crat commented on #43
The job [#43](https://github.com/ammaratef45/attendance/issues/43) is now out of scope

[2019-04-14 10:11] 0crat commented on #43
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-14 10:11] 0crat commented on #37
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-04-14 10:15] 0crat commented on #37
The job [#37](https://github.com/ammaratef45/attendance/issues/37) is now out of scope

[2019-04-14 10:17] 0crat commented on #37
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-16 10:13] 0pdd opened #45 "use /newsession instead of database as in online"
The puzzle `9-721f19e1` from #9 has to be resolved:

https://github.com/ammaratef45/Attendance/blob/6458784661c60ff240bc92347d7306a070af4ac8/attendance/lib/offline_page/offline_page_viewmodel.dart#L118-L118

The puzzle was created by Ammar Atef on 16-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the t

[2019-04-16 10:13] 0pdd opened #46 "shouldn't need isscanned (verification happens in the backend)"
The puzzle `9-dcfd02b0` from #9 has to be resolved:

https://github.com/ammaratef45/Attendance/blob/6458784661c60ff240bc92347d7306a070af4ac8/attendance/lib/offline_page/offline_page_viewmodel.dart#L151-L151

The puzzle was created by Ammar Atef on 16-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the t

[2019-04-16 10:13] 0pdd opened #47 "just update the user class and call save"
The puzzle `9-5930cbef` from #9 has to be resolved:

https://github.com/ammaratef45/Attendance/blob/6458784661c60ff240bc92347d7306a070af4ac8/attendance/lib/loginPage/login_page_viewmodel.dart#L39-L39

The puzzle was created by Ammar Atef on 16-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of

[2019-04-16 10:13] 0pdd opened #48 "save locally and call api /newsession instead of using firebase database"
The puzzle `9-714752f5` from #9 has to be resolved:

https://github.com/ammaratef45/Attendance/blob/6458784661c60ff240bc92347d7306a070af4ac8/attendance/lib/homePage/home_page_viewmodel.dart#L56-L56

The puzzle was created by Ammar Atef on 16-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of th

[2019-04-16 10:13] 0pdd opened #49 "delete this (checking will be performed in the backend)"
The puzzle `9-a09e895e` from #9 has to be resolved:

https://github.com/ammaratef45/Attendance/blob/6458784661c60ff240bc92347d7306a070af4ac8/attendance/lib/homePage/home_page_viewmodel.dart#L101-L101

The puzzle was created by Ammar Atef on 16-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of

[2019-04-16 10:13] 0pdd opened #50 "get data from api /getInfo and save in user class (add more endpoints if needed)"
The puzzle `9-1264d400` from #9 has to be resolved:

https://github.com/ammaratef45/Attendance/blob/6458784661c60ff240bc92347d7306a070af4ac8/attendance/lib/homePage/home_page_viewmodel.dart#L119-L119

The puzzle was created by Ammar Atef on 16-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of

[2019-04-16 10:13] 0crat commented on #45
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-16 10:13] 0pdd opened #51 "save locally and call api /sessionleave instead of using firebase database"
The puzzle `9-e42e0be6` from #9 has to be resolved:

https://github.com/ammaratef45/Attendance/blob/6458784661c60ff240bc92347d7306a070af4ac8/attendance/lib/AttendanceDatailsPage/attendance_details_page_viewmodel.dart#L61-L61

The puzzle was created by Ammar Atef on 16-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem

[2019-04-16 10:13] 0pdd commented on #9
@ammaratef45 7 puzzles [#45](https://github.com/ammaratef45/Attendance/issues/45), [#46](https://github.com/ammaratef45/Attendance/issues/46), [#47](https://github.com/ammaratef45/Attendance/issues/47), [#48](https://github.com/ammaratef45/Attendance/issues/48), [#49](https://github.com/ammaratef45/Attendance/issues/49), [#50](https://github.com/ammaratef45/Attendance/issues/50), [#51](https://git

[2019-04-16 10:14] #9 closed

[2019-04-16 10:14] 0crat commented on #51
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-16 10:15] 0crat commented on #50
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-16 10:15] 0crat commented on #49
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-16 10:15] 0crat commented on #48
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-16 10:16] 0crat commented on #47
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-16 10:16] 0crat commented on #46
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-16 10:42] 0crat commented on #9
The job [#9](https://github.com/ammaratef45/attendance/issues/9) is now out of scope

[2019-04-16 10:44] 0crat commented on #9
Order was finished: +30 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-16 11:39] 0pdd commented on #38
The puzzle `26-78ed0d95` has disappeared from the source code, that's why I closed this issue.

[2019-04-16 11:39] 0pdd commented on #39
The puzzle `26-1a7fd9bd` has disappeared from the source code, that's why I closed this issue.

[2019-04-16 11:39] 0pdd commented on #21
@ammaratef45 2 puzzles [#40](https://github.com/ammaratef45/Attendance/issues/40), [#41](https://github.com/ammaratef45/Attendance/issues/41) are still not solved; solved: [#24](https://github.com/ammaratef45/Attendance/issues/24), [#25](https://github.com/ammaratef45/Attendance/issues/25), [#26](https://github.com/ammaratef45/Attendance/issues/26), [#37](https://github.com/ammaratef45/Attendance/

[2019-04-16 11:39] 0pdd commented on #25
@0pdd 2 puzzles [#40](https://github.com/ammaratef45/Attendance/issues/40), [#41](https://github.com/ammaratef45/Attendance/issues/41) are still not solved; solved: [#26](https://github.com/ammaratef45/Attendance/issues/26), [#37](https://github.com/ammaratef45/Attendance/issues/37), [#38](https://github.com/ammaratef45/Attendance/issues/38), [#39](https://github.com/ammaratef45/Attendance/issues/

[2019-04-16 11:39] 0pdd commented on #26
@0pdd 2 puzzles [#40](https://github.com/ammaratef45/Attendance/issues/40), [#41](https://github.com/ammaratef45/Attendance/issues/41) are still not solved; solved: [#37](https://github.com/ammaratef45/Attendance/issues/37), [#38](https://github.com/ammaratef45/Attendance/issues/38), [#39](https://github.com/ammaratef45/Attendance/issues/39).

[2019-04-16 11:40] 0crat commented on #38
I'm not managing `ammaratef45/attendance` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2019-04-16 11:41] 0crat commented on #39
I'm not managing `ammaratef45/attendance` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2019-04-16 11:44] ammaratef45 commented on #39
@0crat status

[2019-04-16 11:44] 0crat commented on #39
I'm not managing `ammaratef45/attendance` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2019-04-16 11:48] ammaratef45 commented on #39
@0crat status

[2019-04-16 11:48] 0crat commented on #39
I'm not managing `ammaratef45/attendance` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2019-04-16 12:23] ammaratef45 commented on #39
@0crat status

[2019-04-16 12:24] 0crat commented on #39
@ammaratef45 This is what I know about this job in [CH951175M](https://www.0crat.com/p/CH951175M), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#39](https://github.com/ammaratef45/attendance/issues/39) is [in scope](http://www.zerocracy.com/policy.html#14) for 3days
  * The role is `DEV`
  * The job is assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45) for [2d

[2019-04-16 12:24] #39 closed

[2019-04-16 12:25] 0crat commented on #39
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-16 12:25] 0crat commented on #38
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-16 12:49] 0crat commented on #38
The job [#38](https://github.com/ammaratef45/attendance/issues/38) is now out of scope

[2019-04-16 12:51] 0crat commented on #39
Order was finished: +30 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-16 12:51] 0crat commented on #39
The job [#39](https://github.com/ammaratef45/attendance/issues/39) is now out of scope

[2019-04-16 12:53] 0crat commented on #38
Order was finished: +30 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-18 09:33] 0crat commented on #51
The job [#51](https://github.com/ammaratef45/attendance/issues/51) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CH951175M/5a2cae06-4ad3-48fb-a29b-5b3fabe78bf0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-04-18 09:34] 0crat commented on #51
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-18 10:37] 0crat commented on #40
@bahaaib[/z](https://www.0crat.com/u/bahaaib) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-04-18 10:39] 0crat commented on #41
@bahaaib[/z](https://www.0crat.com/u/bahaaib) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-04-23 09:48] 0crat commented on #51
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-04-23 09:50] 0crat commented on #51
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-23 10:09] 0crat commented on #51
GitHub issue is still open, won't close

[2019-04-24 17:38] Bahaaib opened #52 "Clean Profile module from Dart Warnings"
Profile Module needs to follow Effective Dart Guideline Documentation here:
https://www.dartlang.org/guides/language/effective-dart/usage

[2019-04-24 17:39] 0crat commented on #52
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-24 17:39] 0crat commented on #52
@bahaaib[/z](https://www.0crat.com/u/bahaaib) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CH951175M) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-24 17:43] 0pdd commented on #41
The puzzle `26-eb936c7c` has disappeared from the source code, that's why I closed this issue.

[2019-04-24 17:43] #41 closed

[2019-04-24 17:43] 0pdd opened #54 "show error below the entry field if failed to"
The puzzle `26-9d0688a2` from #26 has to be resolved:

https://github.com/ammaratef45/Attendance/blob/4215e74989f15d4bb9fad93d950309d6d7d7cf35/attendance/lib/ProfilePage/profile_page_viewmodel.dart#L7-L7

The puzzle was created by @ammaratef45 on 24-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the te

[2019-04-24 17:43] 0pdd commented on #21
@ammaratef45 2 puzzles [#40](https://github.com/ammaratef45/Attendance/issues/40), [#54](https://github.com/ammaratef45/Attendance/issues/54) are still not solved; solved: [#24](https://github.com/ammaratef45/Attendance/issues/24), [#25](https://github.com/ammaratef45/Attendance/issues/25), [#26](https://github.com/ammaratef45/Attendance/issues/26), [#37](https://github.com/ammaratef45/Attendance/

[2019-04-24 17:43] 0pdd commented on #25
@0pdd 2 puzzles [#40](https://github.com/ammaratef45/Attendance/issues/40), [#54](https://github.com/ammaratef45/Attendance/issues/54) are still not solved; solved: [#26](https://github.com/ammaratef45/Attendance/issues/26), [#37](https://github.com/ammaratef45/Attendance/issues/37), [#38](https://github.com/ammaratef45/Attendance/issues/38), [#39](https://github.com/ammaratef45/Attendance/issues/

[2019-04-24 17:43] 0pdd commented on #26
@0pdd 2 puzzles [#40](https://github.com/ammaratef45/Attendance/issues/40), [#54](https://github.com/ammaratef45/Attendance/issues/54) are still not solved; solved: [#37](https://github.com/ammaratef45/Attendance/issues/37), [#38](https://github.com/ammaratef45/Attendance/issues/38), [#39](https://github.com/ammaratef45/Attendance/issues/39), [#41](https://github.com/ammaratef45/Attendance/issues/

[2019-04-24 17:44] 0crat commented on #54
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-24 17:51] 0crat commented on #54
The job [#54](https://github.com/ammaratef45/attendance/issues/54) assigned to @bahaaib[/z](https://www.0crat.com/u/bahaaib), here is [why](https://www.0crat.com/footprint/CH951175M/fb76e36e-bf9b-400e-b541-f62bdf36448c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-04-24 17:56] 0crat commented on #54
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-24 18:00] 0crat commented on #41
Job [#41](https://github.com/ammaratef45/attendance/issues/41) is not in the agenda of @bahaaib[/z](https://www.0crat.com/u/bahaaib), can't retrieve data and time of add

[2019-04-24 18:05] 0crat commented on #41
The job [#41](https://github.com/ammaratef45/attendance/issues/41) is now out of scope

[2019-04-24 18:07] 0crat commented on #41
Order was finished: +30 point(s) just awarded to @bahaaib[/z](https://www.0crat.com/u/bahaaib)

[2019-04-26 01:12] #52 closed

[2019-04-26 01:30] 0crat commented on #52
Job `gh:ammaratef45/attendance#52` is not assigned, can't get performer

[2019-04-26 01:30] 0crat commented on #52
This job is not in scope

[2019-04-26 14:07] ammaratef45 commented on #51
@0crat wait

[2019-04-26 14:08] 0crat commented on #51
@ammaratef45 The impediment for [#51](https://github.com/ammaratef45/attendance/issues/51) was registered successfully by @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-26 15:20] ammaratef45 opened #57 "Update docker file"
The docker image should be extended to have pdd installed to make rultor faster

[2019-04-26 15:21] 0crat commented on #57
The job [#57](https://github.com/ammaratef45/attendance/issues/57) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CH951175M/cc5badc5-858b-43fd-9d8f-5935be839c89); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-04-26 15:24] #54 closed

[2019-04-26 15:24] 0pdd commented on #54
The puzzle `26-9d0688a2` has disappeared from the source code, that's why I closed this issue.

[2019-04-26 15:24] 0pdd commented on #21
@ammaratef45 the puzzle [#40](https://github.com/ammaratef45/Attendance/issues/40) is still not solved; solved: [#24](https://github.com/ammaratef45/Attendance/issues/24), [#25](https://github.com/ammaratef45/Attendance/issues/25), [#26](https://github.com/ammaratef45/Attendance/issues/26), [#37](https://github.com/ammaratef45/Attendance/issues/37), [#38](https://github.com/ammaratef45/Attendance/

[2019-04-26 15:24] 0pdd commented on #25
@0pdd the puzzle [#40](https://github.com/ammaratef45/Attendance/issues/40) is still not solved; solved: [#26](https://github.com/ammaratef45/Attendance/issues/26), [#37](https://github.com/ammaratef45/Attendance/issues/37), [#38](https://github.com/ammaratef45/Attendance/issues/38), [#39](https://github.com/ammaratef45/Attendance/issues/39), [#41](https://github.com/ammaratef45/Attendance/issues/

[2019-04-26 15:24] 0pdd commented on #26
@0pdd the puzzle [#40](https://github.com/ammaratef45/Attendance/issues/40) is still not solved; solved: [#37](https://github.com/ammaratef45/Attendance/issues/37), [#38](https://github.com/ammaratef45/Attendance/issues/38), [#39](https://github.com/ammaratef45/Attendance/issues/39), [#41](https://github.com/ammaratef45/Attendance/issues/41), [#54](https://github.com/ammaratef45/Attendance/issues/

[2019-04-26 15:27] 0crat commented on #57
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-26 15:27] 0crat commented on #57
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-26 15:29] 0crat commented on #57
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-26 15:43] 0crat commented on #54
Job was finished in 45 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-04-26 15:47] 0crat commented on #54
The job [#54](https://github.com/ammaratef45/attendance/issues/54) is now out of scope

[2019-04-26 15:49] 0crat commented on #54
Order was finished: +35 point(s) just awarded to @bahaaib[/z](https://www.0crat.com/u/bahaaib)

[2019-04-27 11:18] 0crat commented on #46
The job [#46](https://github.com/ammaratef45/attendance/issues/46) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CH951175M/502817a5-d988-462b-aafc-2d306966a369); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-04-27 11:19] 0crat commented on #46
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-27 19:41] 0pdd commented on #46
The puzzle `9-dcfd02b0` has disappeared from the source code, that's why I closed this issue.

[2019-04-27 19:41] #46 closed

[2019-04-27 19:41] 0pdd commented on #9
@ammaratef45 6 puzzles [#45](https://github.com/ammaratef45/Attendance/issues/45), [#47](https://github.com/ammaratef45/Attendance/issues/47), [#48](https://github.com/ammaratef45/Attendance/issues/48), [#49](https://github.com/ammaratef45/Attendance/issues/49), [#50](https://github.com/ammaratef45/Attendance/issues/50), [#51](https://github.com/ammaratef45/Attendance/issues/51) are still not solv

[2019-04-27 19:57] 0pdd commented on #51
The puzzle `9-e42e0be6` has disappeared from the source code, that's why I closed this issue.

[2019-04-27 19:57] #51 closed

[2019-04-27 19:57] 0pdd opened #59 "save locally and call api.leaveSession and remove firebase admin usage"
The puzzle `51-df175dae` from #51 has to be resolved:

https://github.com/ammaratef45/Attendance/blob/8e65cc4c6bf19ce33986a9cdaac3e67901e53542/attendance/lib/AttendanceDatailsPage/attendance_details_page_viewmodel.dart#L62-L63

The puzzle was created by Ammar Atef on 26-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the proble

[2019-04-27 19:57] 0pdd opened #60 "implement this methos"
The puzzle `51-efe8827b` from #51 has to be resolved:

https://github.com/ammaratef45/Attendance/blob/8e65cc4c6bf19ce33986a9cdaac3e67901e53542/attendance/lib/backend/session.dart#L21-L21

The puzzle was created by Ammar Atef on 26-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is

[2019-04-27 19:57] 0pdd opened #61 "mock a session for this test and make it work."
The puzzle `51-f4bdd362` from #51 has to be resolved:

https://github.com/ammaratef45/Attendance/blob/8e65cc4c6bf19ce33986a9cdaac3e67901e53542/attendance/test/api_test.dart#L40-L40

The puzzle was created by Ammar Atef on 26-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _remo

[2019-04-27 19:57] 0pdd commented on #9
@ammaratef45 8 puzzles [#45](https://github.com/ammaratef45/Attendance/issues/45), [#47](https://github.com/ammaratef45/Attendance/issues/47), [#48](https://github.com/ammaratef45/Attendance/issues/48), [#49](https://github.com/ammaratef45/Attendance/issues/49), [#50](https://github.com/ammaratef45/Attendance/issues/50), [#59](https://github.com/ammaratef45/Attendance/issues/59), [#60](https://git

[2019-04-27 19:57] 0pdd commented on #51
@0pdd 3 puzzles [#59](https://github.com/ammaratef45/Attendance/issues/59), [#60](https://github.com/ammaratef45/Attendance/issues/60), [#61](https://github.com/ammaratef45/Attendance/issues/61) are still not solved.

[2019-04-27 19:58] 0crat commented on #61
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-27 19:59] 0crat commented on #60
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-27 19:59] 0crat commented on #59
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-27 20:05] 0crat commented on #46
Job was finished in 8 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-04-27 20:11] 0crat commented on #46
The job [#46](https://github.com/ammaratef45/attendance/issues/46) is now out of scope

[2019-04-27 20:15] 0crat commented on #46
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-27 20:24] 0crat commented on #51
The job [#51](https://github.com/ammaratef45/attendance/issues/51) is now out of scope

[2019-04-27 20:24] 0crat commented on #51
Order was finished: +30 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-27 22:20] Bahaaib opened #62 "Replace the scan Tab with FAB in Homepage"
**Summary**
The Scan Tab seems violating the material design guidelines as its behavior is not compatible with the other tabs. (2 Tabs display data and 1 taking actions).
The tab corresponding actions would be took over by a FAB which is the most convenient candidate to the job

[2019-04-27 22:20] 0crat commented on #62
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-27 22:20] 0crat commented on #62
@bahaaib[/z](https://www.0crat.com/u/bahaaib) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CH951175M) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-28 04:33] #62 closed

[2019-04-28 04:37] 0pdd opened #64 "create a dialog to show scan result"
The puzzle `62-6055f489` from #62 has to be resolved:

https://github.com/ammaratef45/Attendance/blob/aff0111f165480de543b270986c85b5ce7272053/attendance/lib/homePage/home_page_view.dart#L5-L5

The puzzle was created by @ammaratef45 on 28-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the p

[2019-04-28 04:37] 0pdd commented on #62
@Bahaaib the puzzle [#64](https://github.com/ammaratef45/Attendance/issues/64) is still not solved.

[2019-04-28 04:37] 0crat commented on #64
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-28 04:46] 0crat commented on #64
The job [#64](https://github.com/ammaratef45/attendance/issues/64) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CH951175M/a0584259-95e8-4fa3-a193-1bd0095cb38b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-04-28 04:50] 0crat commented on #64
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-28 04:50] 0crat commented on #62
Job `gh:ammaratef45/attendance#62` is not assigned, can't get performer

[2019-04-28 04:50] 0crat commented on #62
This job is not in scope

[2019-04-29 01:33] #64 closed

[2019-04-29 01:33] 0pdd commented on #64
The puzzle `62-6055f489` has disappeared from the source code, that's why I closed this issue.

[2019-04-29 01:33] 0pdd opened #66 "fix tests and unskip them we should test the behaviour specified in the description of every test."
The puzzle `64-4a56c855` from #64 has to be resolved:

https://github.com/ammaratef45/Attendance/blob/9d172f640f3e4f0101e2e8d04f3d97ff0b165fe6/attendance/test/dialogs_test.dart#L20-L22

The puzzle was created by @Bahaaib on 29-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _re

[2019-04-29 01:33] 0pdd commented on #62
@Bahaaib the puzzle [#66](https://github.com/ammaratef45/Attendance/issues/66) is still not solved; solved: [#64](https://github.com/ammaratef45/Attendance/issues/64).

[2019-04-29 01:33] 0pdd commented on #64
@0pdd the puzzle [#66](https://github.com/ammaratef45/Attendance/issues/66) is still not solved.

[2019-04-29 01:34] 0crat commented on #66
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-29 01:52] 0crat commented on #64
Job was finished in 20 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-04-29 01:58] 0crat commented on #64
The job [#64](https://github.com/ammaratef45/attendance/issues/64) is now out of scope

[2019-04-29 01:58] 0crat commented on #64
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-29 08:46] #57 closed

[2019-04-29 09:02] 0crat commented on #48
The job [#48](https://github.com/ammaratef45/attendance/issues/48) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CH951175M/1a70cf73-b28a-4382-be30-3f2c0275aec2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-04-29 09:09] 0crat commented on #57
The job [#57](https://github.com/ammaratef45/attendance/issues/57) is now out of scope

[2019-04-29 09:09] 0crat commented on #48
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-29 09:09] 0crat commented on #57
Order was finished: +30 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-29 10:47] ammaratef45 opened #67 "Fix project lint errors"
The project has 234 lint errors that should be fixed.

[2019-04-30 06:44] #48 closed

[2019-04-30 06:44] 0pdd commented on #48
The puzzle `9-714752f5` has disappeared from the source code, that's why I closed this issue.

[2019-04-30 06:44] 0pdd opened #69 "mock data of the session."
The puzzle `48-4a4efa8d` from #48 has to be resolved:

https://github.com/ammaratef45/Attendance/blob/8cf8d697e566842fe560dd452631f7a494b44f0f/attendance/test/api_test.dart#L83-L83

The puzzle was created by @ammaratef45 on 30-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _re

[2019-04-30 06:44] 0pdd opened #70 "save locally and call api /newsession instead of using firebase database"
The puzzle `48-714752f5` from #48 has to be resolved:

https://github.com/ammaratef45/Attendance/blob/8cf8d697e566842fe560dd452631f7a494b44f0f/attendance/lib/homePage/home_page_viewmodel.dart#L77-L77

The puzzle was created by @ammaratef45 on 30-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text o

[2019-04-30 06:45] 0pdd opened #71 "add unit tests for this method. refactor it to take data from member variables. to be able to do..."
The puzzle `48-870e87cd` from #48 has to be resolved:

https://github.com/ammaratef45/Attendance/blob/8cf8d697e566842fe560dd452631f7a494b44f0f/attendance/lib/backend/session.dart#L29-L31

The puzzle was created by Ammar Atef on 30-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is

[2019-04-30 06:45] 0pdd commented on #9
@ammaratef45 10 puzzles [#45](https://github.com/ammaratef45/Attendance/issues/45), [#47](https://github.com/ammaratef45/Attendance/issues/47), [#49](https://github.com/ammaratef45/Attendance/issues/49), [#50](https://github.com/ammaratef45/Attendance/issues/50), [#59](https://github.com/ammaratef45/Attendance/issues/59), [#60](https://github.com/ammaratef45/Attendance/issues/60), [#61](https://gi

[2019-04-30 06:45] 0pdd commented on #48
@0pdd 3 puzzles [#69](https://github.com/ammaratef45/Attendance/issues/69), [#70](https://github.com/ammaratef45/Attendance/issues/70), [#71](https://github.com/ammaratef45/Attendance/issues/71) are still not solved.

[2019-04-30 06:46] 0crat commented on #71
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-30 06:46] 0crat commented on #70
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-30 06:46] 0crat commented on #69
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-30 07:03] 0crat commented on #48
Job was finished in 21 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-04-30 07:07] 0crat commented on #48
The job [#48](https://github.com/ammaratef45/attendance/issues/48) is now out of scope

[2019-04-30 07:09] 0crat commented on #48
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-30 07:56] ammaratef45 opened #72 "Edit readme"
enhance readme with more badges

[2019-04-30 10:25] 0crat commented on #67
The job [#67](https://github.com/ammaratef45/attendance/issues/67) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CH951175M/2e398943-1707-4f85-9339-884287d02834); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-04-30 10:32] 0crat commented on #67
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-30 10:32] 0crat commented on #67
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-30 10:32] 0crat commented on #67
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-05-01 09:21] 0pdd opened #74 "rename the file to scan."
The puzzle `67-887737e9` from #67 has to be resolved:

https://github.com/ammaratef45/Attendance/blob/b7cf719a727f8994adf0d4e4942f48e010118f7a/attendance/lib/backend/scan_model.dart#L1-L1

The puzzle was created by Ammar Atef on 30-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle i

[2019-05-01 09:21] 0pdd opened #75 "refactor to private with getters when needed."
The puzzle `67-e1e6d488` from #67 has to be resolved:

https://github.com/ammaratef45/Attendance/blob/b7cf719a727f8994adf0d4e4942f48e010118f7a/attendance/lib/backend/scan_model.dart#L23-L23

The puzzle was created by Ammar Atef on 30-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle

[2019-05-01 09:22] 0pdd opened #76 "rename the model to Attendance"
The puzzle `67-67801c2b` from #67 has to be resolved:

https://github.com/ammaratef45/Attendance/blob/b7cf719a727f8994adf0d4e4942f48e010118f7a/attendance/lib/backend/attend_model.dart#L1-L1

The puzzle was created by Ammar Atef on 30-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle

[2019-05-01 09:22] 0pdd opened #77 "refactor to take a map"
The puzzle `67-f0ce5bf3` from #67 has to be resolved:

https://github.com/ammaratef45/Attendance/blob/b7cf719a727f8994adf0d4e4942f48e010118f7a/attendance/lib/backend/attend_model.dart#L4-L4

The puzzle was created by Ammar Atef on 30-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle

[2019-05-01 09:22] 0pdd opened #78 "refactor to private with getters"
The puzzle `67-45e76fc0` from #67 has to be resolved:

https://github.com/ammaratef45/Attendance/blob/b7cf719a727f8994adf0d4e4942f48e010118f7a/attendance/lib/backend/attend_model.dart#L20-L20

The puzzle was created by Ammar Atef on 30-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzz

[2019-05-01 09:22] 0pdd opened #79 "use DB persistance or anyway to pass without the need of this."
The puzzle `67-87cfc572` from #67 has to be resolved:

https://github.com/ammaratef45/Attendance/blob/b7cf719a727f8994adf0d4e4942f48e010118f7a/attendance/lib/backend/attend_model.dart#L27-L27

The puzzle was created by Ammar Atef on 30-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzz

[2019-05-01 09:22] 0pdd opened #80 "solve all remaining 195 lint errors."
The puzzle `67-bb15b6a5` from #67 has to be resolved:

https://github.com/ammaratef45/Attendance/blob/b7cf719a727f8994adf0d4e4942f48e010118f7a/attendance/lib/loginPage/login_page_view.dart#L6-L6

The puzzle was created by Ammar Atef on 30-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the p

[2019-05-01 09:22] 0pdd commented on #67
@ammaratef45 7 puzzles [#74](https://github.com/ammaratef45/Attendance/issues/74), [#75](https://github.com/ammaratef45/Attendance/issues/75), [#76](https://github.com/ammaratef45/Attendance/issues/76), [#77](https://github.com/ammaratef45/Attendance/issues/77), [#78](https://github.com/ammaratef45/Attendance/issues/78), [#79](https://github.com/ammaratef45/Attendance/issues/79), [#80](https://git

[2019-05-01 09:22] 0crat commented on #74
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-05-01 09:23] 0crat commented on #80
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-05-01 09:23] 0crat commented on #79
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-05-01 09:23] 0crat commented on #78
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-05-01 09:24] 0crat commented on #77
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-05-01 09:24] 0crat commented on #76
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-05-01 09:25] 0crat commented on #75
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-05-01 10:21] 0crat commented on #74
The job [#74](https://github.com/ammaratef45/attendance/issues/74) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CH951175M/470bd27b-6f56-403f-85b9-56327679566c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-05-01 10:22] 0crat commented on #74
Job `gh:ammaratef45/attendance#74` already assigned to @ammaratef45, can't assign to @ammaratef45

[2019-05-01 10:22] 0crat commented on #75
The job [#75](https://github.com/ammaratef45/attendance/issues/75) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CH951175M/37ee4d7b-af61-4cd6-91e3-d163b85ed48f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-05-01 10:22] 0crat commented on #74
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-05-01 10:27] 0crat commented on #75
Job `gh:ammaratef45/attendance#75` already assigned to @ammaratef45, can't assign to @ammaratef45

[2019-05-01 10:30] 0crat commented on #75
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-05-01 10:46] 0crat commented on #76
Job `gh:ammaratef45/attendance#76` already assigned to @ammaratef45, can't assign to @ammaratef45

[2019-05-01 10:46] 0crat commented on #76
The job [#76](https://github.com/ammaratef45/attendance/issues/76) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CH951175M/85677d39-310b-45da-8743-681fbf5336a2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-05-01 10:48] 0crat commented on #76
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-05-02 12:45] 0pdd commented on #76
The puzzle `67-67801c2b` has disappeared from the source code, that's why I closed this issue.

[2019-05-02 12:45] #76 closed

[2019-05-02 12:45] 0pdd commented on #67
@ammaratef45 6 puzzles [#74](https://github.com/ammaratef45/Attendance/issues/74), [#75](https://github.com/ammaratef45/Attendance/issues/75), [#77](https://github.com/ammaratef45/Attendance/issues/77), [#78](https://github.com/ammaratef45/Attendance/issues/78), [#79](https://github.com/ammaratef45/Attendance/issues/79), [#80](https://github.com/ammaratef45/Attendance/issues/80) are still not solv

[2019-05-02 12:53] 0pdd commented on #74
The puzzle `67-887737e9` has disappeared from the source code, that's why I closed this issue.

[2019-05-02 12:53] #74 closed

[2019-05-02 12:54] 0pdd commented on #67
@ammaratef45 5 puzzles [#75](https://github.com/ammaratef45/Attendance/issues/75), [#77](https://github.com/ammaratef45/Attendance/issues/77), [#78](https://github.com/ammaratef45/Attendance/issues/78), [#79](https://github.com/ammaratef45/Attendance/issues/79), [#80](https://github.com/ammaratef45/Attendance/issues/80) are still not solved; solved: [#74](https://github.com/ammaratef45/Attendance/

[2019-05-02 13:04] 0pdd commented on #75
The puzzle `67-e1e6d488` has disappeared from the source code, that's why I closed this issue.

[2019-05-02 13:04] #75 closed

[2019-05-02 13:04] 0pdd opened #84 "instead of null make a property indicates if scanned for leave."
The puzzle `75-11cc142d` from #75 has to be resolved:

https://github.com/ammaratef45/Attendance/blob/2d8646e3326bb6deb212118523019ff035425bb3/attendance/lib/backend/scan.dart#L29-L29

The puzzle was created by Ammar Atef on 01-May-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _r

[2019-05-02 13:04] 0pdd commented on #67
@ammaratef45 5 puzzles [#77](https://github.com/ammaratef45/Attendance/issues/77), [#78](https://github.com/ammaratef45/Attendance/issues/78), [#79](https://github.com/ammaratef45/Attendance/issues/79), [#80](https://github.com/ammaratef45/Attendance/issues/80), [#84](https://github.com/ammaratef45/Attendance/issues/84) are still not solved; solved: [#74](https://github.com/ammaratef45/Attendance/

[2019-05-02 13:04] 0pdd commented on #75
@0pdd the puzzle [#84](https://github.com/ammaratef45/Attendance/issues/84) is still not solved.

[2019-05-02 13:05] 0crat commented on #84
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-05-02 13:13] 0crat commented on #76
Job was finished in 26 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-05-02 13:21] 0crat commented on #76
The job [#76](https://github.com/ammaratef45/attendance/issues/76) is now out of scope

[2019-05-02 13:23] 0crat commented on #74
Job was finished in 26 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-05-02 13:23] 0crat commented on #76
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-05-02 13:23] 0crat commented on #74
The job [#74](https://github.com/ammaratef45/attendance/issues/74) is now out of scope

[2019-05-02 13:26] 0crat commented on #75
Job was finished in 26 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-05-02 13:28] 0crat commented on #74
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-05-02 13:30] 0crat commented on #75
The job [#75](https://github.com/ammaratef45/attendance/issues/75) is now out of scope

[2019-05-02 13:30] 0crat commented on #75
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-05-03 21:35] 0crat commented on #77
The job [#77](https://github.com/ammaratef45/attendance/issues/77) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CH951175M/88a28d6c-a5a2-4d14-a215-f60485eb8a85); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-05-03 21:39] 0crat commented on #77
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-05-04 02:50] 0pdd commented on #77
The puzzle `67-f0ce5bf3` has disappeared from the source code, that's why I closed this issue.

[2019-05-04 02:50] #77 closed

[2019-05-04 02:50] 0pdd commented on #67
@ammaratef45 4 puzzles [#78](https://github.com/ammaratef45/Attendance/issues/78), [#79](https://github.com/ammaratef45/Attendance/issues/79), [#80](https://github.com/ammaratef45/Attendance/issues/80), [#84](https://github.com/ammaratef45/Attendance/issues/84) are still not solved; solved: [#74](https://github.com/ammaratef45/Attendance/issues/74), [#75](https://github.com/ammaratef45/Attendance/

[2019-05-04 03:08] 0crat commented on #77
Job was finished in 5 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-05-04 03:14] 0crat commented on #77
The job [#77](https://github.com/ammaratef45/attendance/issues/77) is now out of scope

[2019-05-04 03:14] 0crat commented on #77
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-05-04 12:33] 0crat commented on #78
The job [#78](https://github.com/ammaratef45/attendance/issues/78) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CH951175M/c12f55a3-7cc0-4872-8a5e-8f985a776252); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-05-04 12:33] 0crat commented on #78
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-05-04 17:45] 0pdd commented on #78
The puzzle `67-45e76fc0` has disappeared from the source code, that's why I closed this issue.

[2019-05-04 17:45] #78 closed

[2019-05-04 17:45] 0pdd commented on #67
@ammaratef45 3 puzzles [#79](https://github.com/ammaratef45/Attendance/issues/79), [#80](https://github.com/ammaratef45/Attendance/issues/80), [#84](https://github.com/ammaratef45/Attendance/issues/84) are still not solved; solved: [#74](https://github.com/ammaratef45/Attendance/issues/74), [#75](https://github.com/ammaratef45/Attendance/issues/75), [#76](https://github.com/ammaratef45/Attendance/

[2019-05-04 17:59] 0crat commented on #79
The job [#79](https://github.com/ammaratef45/attendance/issues/79) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CH951175M/c98b0511-9843-4799-a524-b25abbb6a162); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-05-04 18:04] 0crat commented on #78
Job was finished in 5 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-05-04 18:06] 0crat commented on #79
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-05-04 18:08] 0crat commented on #78
The job [#78](https://github.com/ammaratef45/attendance/issues/78) is now out of scope

[2019-05-04 18:14] 0crat commented on #78
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-05-04 18:32] #67 closed

[2019-05-04 18:54] 0crat commented on #67
The job [#67](https://github.com/ammaratef45/attendance/issues/67) is now out of scope

[2019-05-04 18:56] 0crat commented on #67
Order was finished: +30 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-05-05 14:01] #79 closed

[2019-05-05 14:01] 0pdd commented on #79
The puzzle `67-87cfc572` has disappeared from the source code, that's why I closed this issue.

[2019-05-05 14:01] 0pdd commented on #67
@ammaratef45 2 puzzles [#80](https://github.com/ammaratef45/Attendance/issues/80), [#84](https://github.com/ammaratef45/Attendance/issues/84) are still not solved; solved: [#74](https://github.com/ammaratef45/Attendance/issues/74), [#75](https://github.com/ammaratef45/Attendance/issues/75), [#76](https://github.com/ammaratef45/Attendance/issues/76), [#77](https://github.com/ammaratef45/Attendance/

[2019-05-05 14:19] 0crat commented on #79
Job was finished in 20 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-05-05 14:21] 0crat commented on #79
The job [#79](https://github.com/ammaratef45/attendance/issues/79) is now out of scope

[2019-05-05 14:27] 0crat commented on #79
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-05-05 15:25] ammaratef45 opened #88 "Refactor to Bloc design pattern"
Use the library https://github.com/felangel/bloc to refactor to Bloc design pattern.
all PRs should be to Bloc branch, later we may merge the Bloc branch to master if things went well.

[2019-05-05 15:30] felangel commented on #88
@ammaratef45 have you started yet? If not I can try to help you get started in a few hours.

[2019-05-05 15:31] ammaratef45 commented on #88
@felangel Not yet
Just created the brach Bloc

[2019-05-05 15:33] felangel commented on #88
Okay awesome! I'll try to open a PR where I refactor a single section (login for example) sometime later today 👍

[2019-05-05 15:34] ammaratef45 commented on #88
@felangel Great :+1:

[2019-05-05 23:44] felangel commented on #88
@ammaratef45 opened #89

[2019-05-06 01:18] ammaratef45 commented on #88
@felangel It 's merged, Thanks for the contribution.

[2019-05-06 07:24] 0crat commented on #84
The job [#84](https://github.com/ammaratef45/attendance/issues/84) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CH951175M/feca0173-b9ff-4531-968a-4a77a8bdcf6c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-05-06 07:24] 0crat commented on #80
The job [#80](https://github.com/ammaratef45/attendance/issues/80) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CH951175M/fa170e7b-4a5c-4e21-9948-6406bc24695b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-05-06 07:26] 0crat commented on #80
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-05-06 07:27] 0crat commented on #84
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-05-06 11:41] #84 closed

[2019-05-06 11:41] 0pdd commented on #84
The puzzle `75-11cc142d` has disappeared from the source code, that's why I closed this issue.

[2019-05-06 11:41] 0pdd commented on #80
The puzzle `67-bb15b6a5` has disappeared from the source code, that's why I closed this issue.

[2019-05-06 11:41] #80 closed

[2019-05-06 11:41] 0pdd commented on #67
@ammaratef45 all 8 puzzles are solved here: [#74](https://github.com/ammaratef45/Attendance/issues/74), [#75](https://github.com/ammaratef45/Attendance/issues/75), [#76](https://github.com/ammaratef45/Attendance/issues/76), [#77](https://github.com/ammaratef45/Attendance/issues/77), [#78](https://github.com/ammaratef45/Attendance/issues/78), [#79](https://github.com/ammaratef45/Attendance/issues/7

[2019-05-06 11:41] 0pdd commented on #75
@0pdd the only puzzle [#84](https://github.com/ammaratef45/Attendance/issues/84) is solved here.

[2019-05-06 11:59] 0crat commented on #84
Job was finished in 4 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-05-06 11:59] 0crat commented on #80
Job was finished in 4 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-05-06 12:04] 0crat commented on #80
The job [#80](https://github.com/ammaratef45/attendance/issues/80) is now out of scope

[2019-05-06 12:07] 0crat commented on #84
The job [#84](https://github.com/ammaratef45/attendance/issues/84) is now out of scope

[2019-05-06 12:08] 0crat commented on #84
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-05-06 12:08] 0crat commented on #80
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-05-07 07:38] 0pdd commented on #47
The puzzle `9-5930cbef` has disappeared from the source code, that's why I closed this issue.

[2019-05-07 07:38] #47 closed

[2019-05-07 07:38] 0pdd commented on #9
@ammaratef45 9 puzzles [#45](https://github.com/ammaratef45/Attendance/issues/45), [#49](https://github.com/ammaratef45/Attendance/issues/49), [#50](https://github.com/ammaratef45/Attendance/issues/50), [#59](https://github.com/ammaratef45/Attendance/issues/59), [#60](https://github.com/ammaratef45/Attendance/issues/60), [#61](https://github.com/ammaratef45/Attendance/issues/61), [#69](https://git

[2019-05-07 07:58] 0crat commented on #47
Job `gh:ammaratef45/attendance#47` is not assigned, can't get performer

[2019-05-07 07:59] 0crat commented on #47
This job is not in scope

[2019-05-07 08:01] 0crat commented on #45
Job `gh:ammaratef45/attendance#45` already assigned to @ammaratef45, can't assign to @ammaratef45

[2019-05-07 08:01] 0crat commented on #45
The job [#45](https://github.com/ammaratef45/attendance/issues/45) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CH951175M/609f0cd6-908b-442a-ad99-1d9fa9082e42); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-05-07 08:10] 0crat commented on #45
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-05-07 15:35] #45 closed

[2019-05-07 15:35] 0pdd commented on #45
The puzzle `9-721f19e1` has disappeared from the source code, that's why I closed this issue.

[2019-05-07 15:35] 0pdd opened #94 "add more tests to scan functionality"
The puzzle `45-accb0ed5` from #45 has to be resolved:

https://github.com/ammaratef45/Attendance/blob/820c42da11108754c8e553a91a829d24faa191b8/attendance/test/scan_test.dart#L3-L3

The puzzle was created by Ammar Atef on 07-May-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _remov

[2019-05-07 15:36] 0pdd opened #95 "add synced flag to the scen table."
The puzzle `45-abfeb6fc` from #45 has to be resolved:

https://github.com/ammaratef45/Attendance/blob/820c42da11108754c8e553a91a829d24faa191b8/attendance/lib/backend/scan.dart#L101-L101

The puzzle was created by Ammar Atef on 07-May-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is

[2019-05-07 15:36] 0pdd commented on #9
@ammaratef45 10 puzzles [#49](https://github.com/ammaratef45/Attendance/issues/49), [#50](https://github.com/ammaratef45/Attendance/issues/50), [#59](https://github.com/ammaratef45/Attendance/issues/59), [#60](https://github.com/ammaratef45/Attendance/issues/60), [#61](https://github.com/ammaratef45/Attendance/issues/61), [#69](https://github.com/ammaratef45/Attendance/issues/69), [#70](https://gi

[2019-05-07 15:36] 0pdd commented on #45
@0pdd 2 puzzles [#94](https://github.com/ammaratef45/Attendance/issues/94), [#95](https://github.com/ammaratef45/Attendance/issues/95) are still not solved.

[2019-05-07 15:37] 0crat commented on #95
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-05-07 15:37] 0crat commented on #94
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-05-07 15:46] 0pdd commented on #49
The puzzle `9-a09e895e` has disappeared from the source code, that's why I closed this issue.

[2019-05-07 15:46] #49 closed

[2019-05-07 15:46] 0pdd commented on #9
@ammaratef45 9 puzzles [#50](https://github.com/ammaratef45/Attendance/issues/50), [#59](https://github.com/ammaratef45/Attendance/issues/59), [#60](https://github.com/ammaratef45/Attendance/issues/60), [#61](https://github.com/ammaratef45/Attendance/issues/61), [#69](https://github.com/ammaratef45/Attendance/issues/69), [#70](https://github.com/ammaratef45/Attendance/issues/70), [#71](https://git

[2019-05-07 16:04] 0crat commented on #45
Job was finished in 7 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-05-07 16:05] 0crat commented on #45
The job [#45](https://github.com/ammaratef45/attendance/issues/45) is now out of scope

[2019-05-07 16:06] 0crat commented on #45
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-05-07 16:08] 0crat commented on #49
Job `gh:ammaratef45/attendance#49` is not assigned, can't get performer

[2019-05-07 16:12] 0crat commented on #49
This job is not in scope

[2019-05-07 16:30] 0crat commented on #50
The job [#50](https://github.com/ammaratef45/attendance/issues/50) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CH951175M/d1e045cc-3830-46fd-b8fd-fdbbd7ca84ed); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-05-07 16:30] 0crat commented on #50
Job `gh:ammaratef45/attendance#50` already assigned to @ammaratef45, can't assign to @ammaratef45

[2019-05-07 16:30] 0crat commented on #50
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-05-07 16:32] 0crat commented on #59
The job [#59](https://github.com/ammaratef45/attendance/issues/59) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CH951175M/2778c4f0-2f73-4317-94e7-8b1f4e64a49c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-05-08 07:16] 0crat commented on #60
The job [#60](https://github.com/ammaratef45/attendance/issues/60) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CH951175M/b8af4153-5b41-4b6e-ab9d-1ed7e9a2fd22); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-05-08 07:16] 0crat commented on #60
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-05-08 12:38] 0pdd opened #98 "add save functionality to attendance. then uncomment the line below."
The puzzle `59-7f4a1a97` from #59 has to be resolved:

https://github.com/ammaratef45/Attendance/blob/e740acd6ece54dbcf05581ecdf1a34e382a09947/attendance/lib/AttendanceDatailsPage/attendance_details_page_viewmodel.dart#L47-L48

The puzzle was created by Ammar Atef on 08-May-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the proble

[2019-05-08 12:46] 0pdd opened #99 "add gettinng info functionality."
The puzzle `50-23ff7f86` from #50 has to be resolved:

https://github.com/ammaratef45/Attendance/blob/76cc877614a5299c42cbdc65568e70ef27dd3caa/attendance/lib/backend/user.dart#L7-L7

The puzzle was created by Ammar Atef on 08-May-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _rem

[2019-05-08 12:46] 0pdd opened #100 "add save to attendance model"
The puzzle `50-d7dab752` from #50 has to be resolved:

https://github.com/ammaratef45/Attendance/blob/76cc877614a5299c42cbdc65568e70ef27dd3caa/attendance/lib/backend/user.dart#L138-L138

The puzzle was created by Ammar Atef on 08-May-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is

[2019-05-08 12:46] 0pdd opened #101 "get data from user class, add all needed functionality."
The puzzle `50-fdd2ffaf` from #50 has to be resolved:

https://github.com/ammaratef45/Attendance/blob/76cc877614a5299c42cbdc65568e70ef27dd3caa/attendance/lib/homePage/home_page_viewmodel.dart#L118-L118

The puzzle was created by Ammar Atef on 08-May-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text o

[2019-05-08 15:24] ammaratef45 opened #102 "add attendances and their sessions in user's class"
User must hold the data of attended sessions and the objects of attendances.

[2019-05-08 15:27] 0crat commented on #102
The job [#102](https://github.com/ammaratef45/attendance/issues/102) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CH951175M/32fe7ae9-9249-43d9-adfd-15bb764c7f39); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2019-05-08 15:32] 0crat commented on #102
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-05-08 15:32] 0crat commented on #102
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-05-08 15:32] 0crat commented on #102
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-05-09 08:10] 0crat commented on #71
The job [#71](https://github.com/ammaratef45/attendance/issues/71) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CH951175M/2d11093f-6d4d-4cd0-b55c-2003a7c11a04); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-05-09 08:11] 0crat commented on #71
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-05-09 08:19] 0crat commented on #70
The job [#70](https://github.com/ammaratef45/attendance/issues/70) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CH951175M/a271b9f4-9651-4183-9394-faa2888b4b64); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-05-09 08:19] 0crat commented on #70
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-05-13 07:41] 0crat commented on #60
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-05-13 07:58] #69 closed

[2019-05-13 07:58] 0pdd commented on #69
The puzzle `48-4a4efa8d` has disappeared from the source code, that's why I closed this issue.

[2019-05-13 07:58] #71 closed

[2019-05-13 07:58] 0pdd commented on #71
The puzzle `48-870e87cd` has disappeared from the source code, that's why I closed this issue.

[2019-05-13 07:58] 0pdd commented on #100
The puzzle `50-d7dab752` has disappeared from the source code, that's why I closed this issue.

[2019-05-13 07:58] #100 closed

[2019-05-13 07:58] #101 closed

[2019-05-13 07:58] 0pdd commented on #101
The puzzle `50-fdd2ffaf` has disappeared from the source code, that's why I closed this issue.

[2019-05-13 07:58] 0pdd commented on #60
The puzzle `51-efe8827b` has disappeared from the source code, that's why I closed this issue.

[2019-05-13 07:58] #60 closed

[2019-05-13 07:58] #61 closed

[2019-05-13 07:58] 0pdd commented on #61
The puzzle `51-f4bdd362` has disappeared from the source code, that's why I closed this issue.

[2019-05-13 07:58] 0pdd opened #104 "mock data of the attendance."
The puzzle `48-963c5dff` from #48 has to be resolved:

https://github.com/ammaratef45/Attendance/blob/fbdba811a613eddf24735e47ac232e93e71c179b/attendance/test/api_test.dart#L83-L83

The puzzle was created by Ammar Atef on 12-May-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _remo

[2019-05-13 07:58] 0pdd opened #105 "mock an attendance for this test and make it work."
The puzzle `51-58882287` from #51 has to be resolved:

https://github.com/ammaratef45/Attendance/blob/fbdba811a613eddf24735e47ac232e93e71c179b/attendance/test/api_test.dart#L41-L41

The puzzle was created by Ammar Atef on 12-May-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _remo

[2019-05-13 07:58] 0pdd opened #106 "remove litems and uitems and get them from user as future."
The puzzle `102-6eee6dfd` from #102 has to be resolved:

https://github.com/ammaratef45/Attendance/blob/fbdba811a613eddf24735e47ac232e93e71c179b/attendance/lib/homePage/home_page_viewmodel.dart#L119-L119

The puzzle was created by Ammar Atef on 12-May-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text

[2019-05-13 07:58] 0pdd opened #107 "implement the saving in API."
The puzzle `102-cae05207` from #102 has to be resolved:

https://github.com/ammaratef45/Attendance/blob/fbdba811a613eddf24735e47ac232e93e71c179b/attendance/lib/backend/attendance.dart#L50-L50

The puzzle was created by Ammar Atef on 12-May-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzz

[2019-05-13 07:58] 0pdd opened #108 "implement the persistence of data in DB module."
The puzzle `102-bc876a9d` from #102 has to be resolved:

https://github.com/ammaratef45/Attendance/blob/fbdba811a613eddf24735e47ac232e93e71c179b/attendance/lib/backend/attendance.dart#L62-L62

The puzzle was created by Ammar Atef on 12-May-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzz

[2019-05-13 07:58] 0pdd opened #109 "solve obvious errors appear when running after refactoring"
The puzzle `102-a0a4f024` from #102 has to be resolved:

https://github.com/ammaratef45/Attendance/blob/fbdba811a613eddf24735e47ac232e93e71c179b/attendance/lib/main.dart#L10-L10

The puzzle was created by Ammar Atef on 12-May-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed

[2019-05-13 07:58] 0pdd opened #110 "created a generator class for test data"
The puzzle `102-c774c17d` from #102 has to be resolved:

https://github.com/ammaratef45/Attendance/blob/fbdba811a613eddf24735e47ac232e93e71c179b/attendance/test/api_test.dart#L7-L7

The puzzle was created by Ammar Atef on 12-May-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _remo

[2019-05-13 07:58] 0pdd commented on #9
@ammaratef45 7 puzzles [#104](https://github.com/ammaratef45/Attendance/issues/104), [#105](https://github.com/ammaratef45/Attendance/issues/105), [#70](https://github.com/ammaratef45/Attendance/issues/70), [#94](https://github.com/ammaratef45/Attendance/issues/94), [#95](https://github.com/ammaratef45/Attendance/issues/95), [#98](https://github.com/ammaratef45/Attendance/issues/98), [#99](https:/

[2019-05-13 07:58] 0pdd commented on #48
@0pdd 2 puzzles [#104](https://github.com/ammaratef45/Attendance/issues/104), [#70](https://github.com/ammaratef45/Attendance/issues/70) are still not solved; solved: [#69](https://github.com/ammaratef45/Attendance/issues/69), [#71](https://github.com/ammaratef45/Attendance/issues/71).

[2019-05-13 07:58] 0pdd commented on #50
@0pdd the puzzle [#99](https://github.com/ammaratef45/Attendance/issues/99) is still not solved; solved: [#100](https://github.com/ammaratef45/Attendance/issues/100), [#101](https://github.com/ammaratef45/Attendance/issues/101).

[2019-05-13 07:58] 0pdd commented on #51
@0pdd 2 puzzles [#105](https://github.com/ammaratef45/Attendance/issues/105), [#98](https://github.com/ammaratef45/Attendance/issues/98) are still not solved; solved: [#59](https://github.com/ammaratef45/Attendance/issues/59), [#60](https://github.com/ammaratef45/Attendance/issues/60), [#61](https://github.com/ammaratef45/Attendance/issues/61).

[2019-05-13 07:58] 0crat commented on #104
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-05-13 07:59] 0pdd commented on #102
@ammaratef45 5 puzzles [#106](https://github.com/ammaratef45/Attendance/issues/106), [#107](https://github.com/ammaratef45/Attendance/issues/107), [#108](https://github.com/ammaratef45/Attendance/issues/108), [#109](https://github.com/ammaratef45/Attendance/issues/109), [#110](https://github.com/ammaratef45/Attendance/issues/110) are still not solved.

[2019-05-13 08:02] 0crat commented on #110
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-05-13 08:02] 0crat commented on #109
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-05-13 08:02] 0crat commented on #108
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-05-13 08:03] 0crat commented on #107
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-05-13 08:03] 0crat commented on #106
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-05-13 08:03] 0crat commented on #105
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-05-13 08:17] 0crat commented on #61
Job `gh:ammaratef45/attendance#61` is not assigned, can't get performer

[2019-05-13 08:17] 0crat commented on #101
This job is not in scope

[2019-05-13 08:17] 0crat commented on #101
Job `gh:ammaratef45/attendance#101` is not assigned, can't get performer

[2019-05-13 08:17] 0crat commented on #61
This job is not in scope

[2019-05-13 08:17] 0crat commented on #100
Job `gh:ammaratef45/attendance#100` is not assigned, can't get performer

[2019-05-13 08:18] 0crat commented on #100
This job is not in scope

[2019-05-13 08:18] 0crat commented on #69
Job `gh:ammaratef45/attendance#69` is not assigned, can't get performer

[2019-05-13 08:20] 0crat commented on #69
This job is not in scope

[2019-05-13 08:24] 0crat commented on #60
The job [#60](https://github.com/ammaratef45/attendance/issues/60) is now out of scope

[2019-05-13 08:24] 0crat commented on #71
The job [#71](https://github.com/ammaratef45/attendance/issues/71) is now out of scope

[2019-05-13 08:25] 0crat commented on #60
Order was finished: +30 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-05-13 08:25] 0crat commented on #71
Job `gh:ammaratef45/attendance#71` doesn't exist in WBS, can't create order

[2019-05-13 08:27] 0crat commented on #71
Order was finished: +30 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-05-13 15:46] 0crat commented on #102
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-05-14 07:36] #102 closed

[2019-05-14 07:58] 0crat commented on #102
The job [#102](https://github.com/ammaratef45/attendance/issues/102) is now out of scope

[2019-05-14 08:00] 0crat commented on #102
Order was finished: +30 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-05-14 08:39] 0crat commented on #70
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-05-19 09:27] #70 closed

[2019-05-19 09:27] 0pdd commented on #70
The puzzle `48-714752f5` has disappeared from the source code, that's why I closed this issue.

[2019-05-19 09:27] 0pdd commented on #9
@ammaratef45 6 puzzles [#104](https://github.com/ammaratef45/Attendance/issues/104), [#105](https://github.com/ammaratef45/Attendance/issues/105), [#94](https://github.com/ammaratef45/Attendance/issues/94), [#95](https://github.com/ammaratef45/Attendance/issues/95), [#98](https://github.com/ammaratef45/Attendance/issues/98), [#99](https://github.com/ammaratef45/Attendance/issues/99) are still not

[2019-05-19 09:27] 0pdd commented on #48
@0pdd the puzzle [#104](https://github.com/ammaratef45/Attendance/issues/104) is still not solved; solved: [#69](https://github.com/ammaratef45/Attendance/issues/69), [#70](https://github.com/ammaratef45/Attendance/issues/70), [#71](https://github.com/ammaratef45/Attendance/issues/71).

[2019-05-19 09:52] 0crat commented on #70
The job [#70](https://github.com/ammaratef45/attendance/issues/70) is now out of scope

[2019-05-19 09:53] 0crat commented on #70
Order was finished: +30 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-05-28 07:13] ammaratef45 opened #111 "Migrate to Androidx"
Till this moment we are avoiding using libraries that support AndroidX.
We should migrate to androidx and upgrade dependencies.

[2019-05-28 07:14] 0crat commented on #111
The job [#111](https://github.com/ammaratef45/attendance/issues/111) assigned to @bahaaib[/z](https://www.0crat.com/u/bahaaib), here is [why](https://www.0crat.com/footprint/CH951175M/e8c2923b-5671-4cbc-8362-691240101a33); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-05-28 07:18] 0crat commented on #111
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-05-28 07:20] 0crat commented on #111
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-05-28 23:24] Bahaaib commented on #111
@ammaratef45 Copy that

[2019-06-02 07:42] 0crat commented on #111
@bahaaib[/z](https://www.0crat.com/u/bahaaib) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-02 15:14] ammaratef45 commented on #17
@0crat refuse

[2020-04-02 15:15] 0crat commented on #17
@ammaratef45 The user @ammaratef45[/z](https://www.0crat.com/u/ammaratef45) resigned from [#17](https://github.com/ammaratef45/attendance/issues/17), please stop working. Reason for job resignation: Order was cancelled

[2020-04-02 16:06] 0crat commented on #17
The job [#17](https://github.com/ammaratef45/attendance/issues/17) assigned to @aqeel-hashim[/z](https://www.0crat.com/u/aqeel-hashim), here is [why](https://www.0crat.com/footprint/CH951175M/3e8b6eca-c9a5-4b87-992b-700110e39e5d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2020-04-07 15:43] 0crat commented on #17
@aqeel-hashim[/z](https://www.0crat.com/u/aqeel-hashim) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.